### Introduction:

This is a simple notebook that takes our .csvs and combines them into one large .csv file. This script acts
as a dataframe collector, concatenating all of the separate dataframes in stage 1.

In [21]:
import json
import glob
import pandas as pd
import os

In [1]:
#This code is just used to find where we are in the directory tree. Used for debugging purposes
#print(os.getcwd())
#print(os.listdir("../../data/1.stage1/tweets/"))

In [25]:
tweetPath = "../../data/1.stage1/tweets/"
userPath = "../../data/1.stage1/users/"

enumTweets = glob.glob(tweetPath+"*")
enumUsers = glob.glob(userPath+"*")

In [27]:
enumTweets
enumUsers

['../../data/1.stage1/users/users18.csv',
 '../../data/1.stage1/users/users10.csv',
 '../../data/1.stage1/users/users19.csv',
 '../../data/1.stage1/users/users4.csv',
 '../../data/1.stage1/users/users14.csv',
 '../../data/1.stage1/users/users2.csv',
 '../../data/1.stage1/users/users11.csv',
 '../../data/1.stage1/users/users13.csv',
 '../../data/1.stage1/users/users9.csv',
 '../../data/1.stage1/users/users3.csv',
 '../../data/1.stage1/users/users5.csv',
 '../../data/1.stage1/users/users17.csv',
 '../../data/1.stage1/users/users0.csv',
 '../../data/1.stage1/users/users7.csv',
 '../../data/1.stage1/users/users6.csv',
 '../../data/1.stage1/users/users16.csv',
 '../../data/1.stage1/users/users8.csv',
 '../../data/1.stage1/users/users12.csv',
 '../../data/1.stage1/users/users15.csv',
 '../../data/1.stage1/users/users1.csv']

In [28]:
### Support Code:

def concatfile(listPaths,subdir):
    fileMap={}
    for path in listPaths:
        index = int(path.replace(subdir,"").replace(".csv",""))
        fileMap[index] = path
    
    return fileMap

def mergefiles(pathFilesDir,lengthCols,extra):
    listFiles = glob.glob(pathFilesDir+"*")
    #print(listFiles)
    #print(pathFilesDir+extra)
    fileMap = concatfile(listFiles,pathFilesDir+extra)
    frames = [] 
    frames.append(pd.read_csv(fileMap[0],header=0,usecols=list(range(1,lengthCols))))
    for i in range(1,len(listFiles)):
        frames.append(pd.read_csv(fileMap[i],header=0,usecols=list(range(1,lengthCols))))
    final = pd.concat(frames)
    final.reset_index(drop=True, inplace=True)
    return final

In [30]:
fullTweetsDF = mergefiles(tweetPath,11,"tweets")
fullTweetsDF.to_csv("../../data/1.stage2/tweets400k.csv")
fullTweetsDF.shape
fullTweetsDF.head()

,id,created_at,text,quote_count,reply_count,retweet_count,favorite_count,user_id,user_screen_name,hashtag_list
0,1173228641628622851,Sun Sep 15 13:34:40 +0000 2019,RT @ProudCanadianN1: You need to invite the @p...,0,0,0,0,1100072322977939459,PPC_Retweets,NaN
1,1173228642316341248,Sun Sep 15 13:34:40 +0000 2019,RT @EyesOfBlue06: I'm in Ontario.. destroyed ...,0,0,0,0,703601953,cwhoward24,"TrudeauMustGo,LiberalsMustGo,Scheer4PM"
2,1173228643272683521,Sun Sep 15 13:34:40 +0000 2019,RT @CBCPolitics: Scheer will stand by candidat...,0,0,0,0,62314888,neilpk70,NaN
3,1173228643302010886,Sun Sep 15 13:34:40 +0000 2019,RT @acoyne: Contrary to the old Watergate prov...,0,0,0,0,35162290,SeeClickFlash,NaN
4,1173228644107313153,Sun Sep 15 13:34:40 +0000 2019,RT @AndersonBooz: Because @AndrewScheer lies t...,0,0,0,0,1707977161,M_Simmonds_,NaN

In [31]:
fullUsersDF = mergefiles(userPath,12,"users")
fullUsersDF.to_csv("../../data/1.stage2/users400k.csv")
fullUsersDF.shape
fullUsersDF.head()

,id,created_at,name,screen_name,verified,followers_count,friends_count,favourites_count,statuses_count,profile_background_color,profile_text_color
0,1100072322977939459,Mon Feb 25 16:37:34 +0000 2019,PPC Retweets 🇨🇦,PPC_Retweets,False,1344,3283,5222,60718,F5F8FA,333333
1,703601953,Wed Jul 18 18:58:23 +0000 2012,Chad Howard,cwhoward24,False,111,170,2057,1007,C0DEED,333333
2,62314888,Sun Aug 02 18:13:02 +0000 2009,Count Floyd 🇨🇦,neilpk70,False,619,720,160580,57884,C0DEED,333333
3,35162290,Sat Apr 25 06:09:36 +0000 2009,Mark O'Henly,SeeClickFlash,False,1449,659,17231,32665,352726,3E4415
4,1707977161,Wed Aug 28 18:26:29 +0000 2013,Matt Simmonds,M_Simmonds_,False,232,620,2327,3303,C0DEED,333333

### Timing:

Script Took less than 1 minute for the 20 files. This should be a short step for our data.

### END